
.banner > img{
	height:auto;
	width:70%;
	display:flex;
	justify-content:center;
}

.wrapper {
	width:80%;

}

.navbar {
        list-style-type: none;
        margin: 5px;
        padding: 10px;
        overflow: hidden;
        background-color: #131313;
        top: 0.5em;
        margin-left: 0px;
    }

    .list {
        float: left;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin-left:5%;
        color:white;

    }

    .image > img {
    	width: 100%;
    	height:auto;

    }

    .item {
    	width: 25%;
    }

    .row {
    	display:flex;
    	
    	justify-content:space-between;
    }

	.footer>img{
		width:100%;
	}

    .footer {
    	width:80%;
    }
    .footer>p, .footer>h4 { display:flex;
    	justify-content:center;

    }